@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$header-border-radius: 8px;

html, body {
  height: 100%;
  margin: 0;
}

[data-name="container"] {
  min-height: 100%;
  max-width: 600px;
}

[data-name="controls-header-wrapper"],
[data-name="controls-footer-wrapper"],
[data-name="stopwatch-wrapper"],
[data-name="theme-wrapper"] {
  height: 60px;
}

[data-name="controls-header-wrapper"] {
  border-bottom-left-radius: $header-border-radius;
}

[data-name="stopwatch-wrapper"] {
  border-bottom-right-radius: $header-border-radius;
}

[data-name="controls-footer-wrapper"] {
  border-top-left-radius: $header-border-radius;
}

[data-name="theme-wrapper"] {
  border-top-right-radius: $header-border-radius;
}

[data-name="canvas-wrapper"] {
  height: 100%;
}

[data-name="selector"] {
  width: auto;

  @media (max-width: 429px) {
    max-width: 140px;
  }

  @media (max-width: 375px) {
    max-width: 125px;
  }
}
